/* Сброс для списков и ссылок */
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Дополнительные стили для текста и кода */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
