.dialogs {
  display: grid;
  grid-template-columns: 2fr 20fr;
}
.dialogsList {
  padding: 10px;
}

.dialogItem:hover {
  color: rgb(0, 195, 255);
}

.messagesList {
  padding: 10px;
}
.messageItem:hover {
  color: rgb(0, 195, 255);
}
