.dialogs {
  display: grid;
  grid-template-columns: 2fr 20fr;
}

.dialogsList {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 38px;
}

.dialogItem:hover {
  color: rgb(0, 195, 255);
}

.messagesList {
  padding: 10px;
}

.messageItem:hover {
  color: rgb(0, 195, 255);
}
